
<h1 align='center'>Lista de amigos</h1>

<table class="table table-dark table-striped table-hover">
  <thead>
    <tr>
      <th>Primeiro Nome </th>
      <th>Sobrenome </th>
      <th>Email </th>
      <th>Telefone </th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td><%= friend.twitter %></td>
        <td><%= link_to 'Mostrar', friend, class:"btn btn-light"%></td>
        <td><%= link_to 'Editar', edit_friend_path(friend), class:"btn btn-light" %></td>
        <td><%= link_to 'Apagar', friend, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-light"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friend', new_friend_path, class:"btn btn-dark" %>